<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred.safari</string>
	<key>connections</key>
	<dict>
		<key>0004C2F0-8ED4-4380-8E22-92343D79C9F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F73EBCE-EE02-4D0B-B9B9-26849B69515E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>052405D0-212B-42D3-9E79-C4310040EAF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76F03F1E-15FC-4B9D-9B00-98F12EF5B136</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0F1CFAC5-E975-422B-9C4D-BA2F38FA3062</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB1538F1-21FC-4175-8A7D-FFB65F43A455</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BC0EC6A3-641B-48C5-B785-620943E268EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6610C516-6069-4841-AE4A-418E00E6E59E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>126AB834-9B99-4FE4-BC12-6F1D96BFCE72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BE3416B-FFFF-446A-B831-F3BE52EAF45C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1CC27177-DF0A-4468-B358-54AB7047DB95</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B1FC8AB-FB4E-4913-AC9D-61C7A685FC15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>329B5936-B26C-49BC-8ED1-53A0E11D913B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>382EA310-BC65-42FA-9B9B-CD962F883D3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>355FC482-950D-4155-9A8E-45EDCFDB4EC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26C82666-6D63-4B0E-8484-504DAFEC0F3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>356B391D-D91D-46CD-82B9-B30A76C9ADEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>323EA158-3C85-45C9-8702-F4750AD40233</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3810E7C3-8090-4111-AECE-F78625F2C81E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D94FFE88-0A1C-49FE-9F45-8DDAAEECD0C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>382EA310-BC65-42FA-9B9B-CD962F883D3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>356B391D-D91D-46CD-82B9-B30A76C9ADEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3CF1B4A3-E41E-4595-90FC-1F9967F639AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>382EA310-BC65-42FA-9B9B-CD962F883D3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>466AFEF0-E98B-42D1-9FD4-1162CB62C42E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>356B391D-D91D-46CD-82B9-B30A76C9ADEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B1FC8AB-FB4E-4913-AC9D-61C7A685FC15</key>
		<array/>
		<key>5FD5E746-B22D-44E1-89BC-ED2617F9BB7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7905209-D36C-475A-A7EC-BE304519C6FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65A23B83-8C51-40A7-AA28-9E37BC98EAE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F861E910-A2F3-44E8-82AE-4902F8554614</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6610C516-6069-4841-AE4A-418E00E6E59E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84DB3789-346A-4833-A576-49CEE1C8EF04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>721AAE10-9173-47C9-98B0-B673CFBD37B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F1CFAC5-E975-422B-9C4D-BA2F38FA3062</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>76F03F1E-15FC-4B9D-9B00-98F12EF5B136</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>355FC482-950D-4155-9A8E-45EDCFDB4EC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>82BC0606-4BCC-4911-9978-E7A709993015</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82BC0606-4BCC-4911-9978-E7A709993015</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9ED9555B-B2D7-4699-BCB3-81A68BE1DFDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84DB3789-346A-4833-A576-49CEE1C8EF04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B83619CD-E5B4-413A-BCA2-7D90E588686D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>971D7A70-415F-420A-9DCD-C8B80F0ECD41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE1C9785-A59F-4478-99BD-09A9CE0B38AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB1538F1-21FC-4175-8A7D-FFB65F43A455</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>356B391D-D91D-46CD-82B9-B30A76C9ADEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB66037D-D172-4C1D-B8A2-CC0CF9CF8E0E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C00F9AA1-44BD-45E3-96D5-C839C7C995E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE42EE07-31E3-4A76-AAB3-D99D72B36731</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0F1B29A-5F9E-46E6-A24A-DE683B8693C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC0EC6A3-641B-48C5-B785-620943E268EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CC27177-DF0A-4468-B358-54AB7047DB95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C00F9AA1-44BD-45E3-96D5-C839C7C995E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>971D7A70-415F-420A-9DCD-C8B80F0ECD41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0F1B29A-5F9E-46E6-A24A-DE683B8693C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>971D7A70-415F-420A-9DCD-C8B80F0ECD41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6C1131D-CCB2-4B03-BF7C-EEFEAA606A79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>126AB834-9B99-4FE4-BC12-6F1D96BFCE72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6E84120-6093-469C-AEA6-F458A1F1F3BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>126AB834-9B99-4FE4-BC12-6F1D96BFCE72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7905209-D36C-475A-A7EC-BE304519C6FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>356B391D-D91D-46CD-82B9-B30A76C9ADEF</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1CC27177-DF0A-4468-B358-54AB7047DB95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>D94FFE88-0A1C-49FE-9F45-8DDAAEECD0C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>356B391D-D91D-46CD-82B9-B30A76C9ADEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB60E56C-5D2B-4C6C-A704-37F12D7C2ED7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76F03F1E-15FC-4B9D-9B00-98F12EF5B136</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE1C9785-A59F-4478-99BD-09A9CE0B38AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0004C2F0-8ED4-4380-8E22-92343D79C9F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0BAD7E8-5962-41B2-B671-C6A2286CA193</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D94FFE88-0A1C-49FE-9F45-8DDAAEECD0C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F861E910-A2F3-44E8-82AE-4902F8554614</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>721AAE10-9173-47C9-98B0-B673CFBD37B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA5F16AF-40C3-4EC6-9F70-32B47E4A5BBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>466AFEF0-E98B-42D1-9FD4-1162CB62C42E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Manage Safari Windows and Tabs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Safari Assistant</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D6E84120-6093-469C-AEA6-F458A1F1F3BC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<true/>
				<key>keyword</key>
				<string>history</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Library/Caches/Metadata/Safari/History</string>
				</array>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Safari History</string>
				<key>types</key>
				<array>
					<string>com.apple.safari.history</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>126AB834-9B99-4FE4-BC12-6F1D96BFCE72</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Safari.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>8BE3416B-FFFF-446A-B831-F3BE52EAF45C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>on run(argv)
	set theWin to system attribute "ALSF_WINDOW"
	set theTab to system attribute "ALSF_TAB"
	set theIndex to system attribute "ALSF_INDEX"

	log "theWin=" &amp; theWin &amp; ", theTab=" &amp; theTab &amp; ", theIndex=" &amp; theIndex

	tell application "Alfred 3"
		run trigger "tab-actions" in workflow "net.deanishe.alfred.safari" with argument theIndex
	end tell

end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>26C82666-6D63-4B0E-8484-504DAFEC0F3D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>history</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>D6C1131D-CCB2-4B03-BF7C-EEFEAA606A79</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>actions</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>355FC482-950D-4155-9A8E-45EDCFDB4EC4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tab</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading tabs…</string>
				<key>script</key>
				<string>./alsf tabs -q "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Manage Safari tabs</string>
				<key>title</key>
				<string>Safari Tabs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>76F03F1E-15FC-4B9D-9B00-98F12EF5B136</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>052405D0-212B-42D3-9E79-C4310040EAF6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Simulate ESC keypress to close Alfred
/usr/bin/osascript -e 'tell application "System Events" to key code 53'

# The window/tab to activate are specified via workflow/environment variables
./alsf activate</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9ED9555B-B2D7-4699-BCB3-81A68BE1DFDB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>activate</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>82BC0606-4BCC-4911-9978-E7A709993015</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>tab</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>DB60E56C-5D2B-4C6C-A704-37F12D7C2ED7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading tab actions…</string>
				<key>script</key>
				<string>./alsf actions tab -q "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Perform Tab Actions</string>
				<key>title</key>
				<string>Tab Actions</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DE1C9785-A59F-4478-99BD-09A9CE0B38AD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>q=$1
IFS='x' read -ra NUMS &lt;&lt;&lt; "$q"

cat &lt;&lt;EOS
{"alfredworkflow": {
		"variables": {
			"ALSF_WINDOW": "${NUMS[0]}",
			"ALSF_TAB": "${NUMS[1]}",
		}
	}
}
EOS</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D0F1B29A-5F9E-46E6-A24A-DE683B8693C8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>tab-actions</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>AE42EE07-31E3-4A76-AAB3-D99D72B36731</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alsf action tab</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0F73EBCE-EE02-4D0B-B9B9-26849B69515E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/-- RUN TAB ACTION --\
query={query}
variables={allvars}
\--------------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>0004C2F0-8ED4-4380-8E22-92343D79C9F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/---- TAB ACTIONS ----\
query={query}
variables={allvars}
\---------------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>971D7A70-415F-420A-9DCD-C8B80F0ECD41</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AB66037D-D172-4C1D-B8A2-CC0CF9CF8E0E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alsf active-tab</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C00F9AA1-44BD-45E3-96D5-C839C7C995E7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>329B5936-B26C-49BC-8ED1-53A0E11D913B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading bookmarks…</string>
				<key>script</key>
				<string>./alsf bookmarks -q "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Find and open Safari bookmarks</string>
				<key>title</key>
				<string>Safari Bookmarks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>382EA310-BC65-42FA-9B9B-CD962F883D3A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>bookmarks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>3CF1B4A3-E41E-4595-90FC-1F9967F639AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Reading List…</string>
				<key>script</key>
				<string>./alsf reading-list -q "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search your Reading List</string>
				<key>title</key>
				<string>Safari Reading List</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D94FFE88-0A1C-49FE-9F45-8DDAAEECD0C8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3810E7C3-8090-4111-AECE-F78625F2C81E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>reading-list</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>E0BAD7E8-5962-41B2-B671-C6A2286CA193</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>all-folders</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>5FD5E746-B22D-44E1-89BC-ED2617F9BB7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># What to open is passed via workflow/environment variables
./alsf open</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>323EA158-3C85-45C9-8702-F4750AD40233</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bmf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading bookmark folders…</string>
				<key>script</key>
				<string>./alsf folders -q "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Find and open folders of Safari bookmarks</string>
				<key>title</key>
				<string>Safari Bookmark Folders</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D7905209-D36C-475A-A7EC-BE304519C6FA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/ ------ OPEN UID -----\
query={query}
variables={allvars}
\ ---------------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>356B391D-D91D-46CD-82B9-B30A76C9ADEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Alfred 3"
	run trigger "browse-folder" in workflow "net.deanishe.alfred.safari" with argument (system attribute "ALSF_UID")
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4B1FC8AB-FB4E-4913-AC9D-61C7A685FC15</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>open-uid</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>FA5F16AF-40C3-4EC6-9F70-32B47E4A5BBC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/--- BROWSE FOLDER ---\
query={query}
variables={allvars}
\---------------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>1CC27177-DF0A-4468-B358-54AB7047DB95</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>ALSF_UID</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>466AFEF0-E98B-42D1-9FD4-1162CB62C42E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>AB1538F1-21FC-4175-8A7D-FFB65F43A455</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>browse</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>BC0EC6A3-641B-48C5-B785-620943E268EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>browse-folder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>65A23B83-8C51-40A7-AA28-9E37BC98EAE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string># Which folder to browse is passed via workflow/environment variables
./alsf browse -q "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>721AAE10-9173-47C9-98B0-B673CFBD37B2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>--tell application "Alfred 3" to search "bmf "
tell application "Alfred 3" to run trigger "all-folders" in workflow "net.deanishe.alfred.safari"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B83619CD-E5B4-413A-BCA2-7D90E588686D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/--- BROWSE OR OPEN ---\
query={query}
variables={allvars}
\----------------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>0F1CFAC5-E975-422B-9C4D-BA2F38FA3062</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>ALSF_UID</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F861E910-A2F3-44E8-82AE-4902F8554614</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>top</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6610C516-6069-4841-AE4A-418E00E6E59E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/------ GO BACK ------\
query={query}
variables={allvars}
\---------------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>84DB3789-346A-4833-A576-49CEE1C8EF04</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0004C2F0-8ED4-4380-8E22-92343D79C9F6</key>
		<dict>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>052405D0-212B-42D3-9E79-C4310040EAF6</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>View Safari tabs</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>0F1CFAC5-E975-422B-9C4D-BA2F38FA3062</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>1890</integer>
		</dict>
		<key>0F73EBCE-EE02-4D0B-B9B9-26849B69515E</key>
		<dict>
			<key>note</key>
			<string>Run tab action</string>
			<key>xpos</key>
			<integer>1110</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>126AB834-9B99-4FE4-BC12-6F1D96BFCE72</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Safari History</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>1CC27177-DF0A-4468-B358-54AB7047DB95</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>1670</integer>
		</dict>
		<key>26C82666-6D63-4B0E-8484-504DAFEC0F3D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Show all available tab actions via 'tab-actions' External Trigger</string>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>323EA158-3C85-45C9-8702-F4750AD40233</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Open specified bookmark/folder</string>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>1470</integer>
		</dict>
		<key>329B5936-B26C-49BC-8ED1-53A0E11D913B</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>View Safari bookmarks</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>355FC482-950D-4155-9A8E-45EDCFDB4EC4</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>action == actions</string>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>356B391D-D91D-46CD-82B9-B30A76C9ADEF</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>1500</integer>
		</dict>
		<key>3810E7C3-8090-4111-AECE-F78625F2C81E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>View Safari Reading List</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1150</integer>
		</dict>
		<key>382EA310-BC65-42FA-9B9B-CD962F883D3A</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Search and open Bookmarks</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>3CF1B4A3-E41E-4595-90FC-1F9967F639AE</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1000</integer>
		</dict>
		<key>466AFEF0-E98B-42D1-9FD4-1162CB62C42E</key>
		<dict>
			<key>note</key>
			<string>Set UID variable from {query}</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>1690</integer>
		</dict>
		<key>4B1FC8AB-FB4E-4913-AC9D-61C7A685FC15</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Browse bookmark folder

This calls the Script Filter below via the "browse-folder" External Trigger to the left</string>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>1640</integer>
		</dict>
		<key>5FD5E746-B22D-44E1-89BC-ED2617F9BB7B</key>
		<dict>
			<key>note</key>
			<string>Re-entry point for self and the "browse-folder" External Trigger below</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1470</integer>
		</dict>
		<key>65A23B83-8C51-40A7-AA28-9E37BC98EAE8</key>
		<dict>
			<key>note</key>
			<string>Called with a UID by the Run Script action above</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1860</integer>
		</dict>
		<key>6610C516-6069-4841-AE4A-418E00E6E59E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>action == top</string>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>1920</integer>
		</dict>
		<key>721AAE10-9173-47C9-98B0-B673CFBD37B2</key>
		<dict>
			<key>note</key>
			<string>Browse Folder

Filter within a specific bookmarks folder</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>1860</integer>
		</dict>
		<key>76F03F1E-15FC-4B9D-9B00-98F12EF5B136</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Search and manipulate Tabs</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>82BC0606-4BCC-4911-9978-E7A709993015</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>action == activate</string>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>84DB3789-346A-4833-A576-49CEE1C8EF04</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>1920</integer>
		</dict>
		<key>8BE3416B-FFFF-446A-B831-F3BE52EAF45C</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>971D7A70-415F-420A-9DCD-C8B80F0ECD41</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>9ED9555B-B2D7-4699-BCB3-81A68BE1DFDB</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Activate tab</string>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>AB1538F1-21FC-4175-8A7D-FFB65F43A455</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>action == open</string>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>1710</integer>
		</dict>
		<key>AB66037D-D172-4C1D-B8A2-CC0CF9CF8E0E</key>
		<dict>
			<key>note</key>
			<string>Show Actions for current tab</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>AE42EE07-31E3-4A76-AAB3-D99D72B36731</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>B83619CD-E5B4-413A-BCA2-7D90E588686D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Calls "all-folders" External Trigger above to go back to All Folders view</string>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>1890</integer>
		</dict>
		<key>BC0EC6A3-641B-48C5-B785-620943E268EF</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>action == browse</string>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>1810</integer>
		</dict>
		<key>C00F9AA1-44BD-45E3-96D5-C839C7C995E7</key>
		<dict>
			<key>note</key>
			<string>Set window and tab variables to current active tab</string>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>D0F1B29A-5F9E-46E6-A24A-DE683B8693C8</key>
		<dict>
			<key>note</key>
			<string>Parse input and set window and tab variables</string>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>D6C1131D-CCB2-4B03-BF7C-EEFEAA606A79</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>D6E84120-6093-469C-AEA6-F458A1F1F3BC</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>View Safari history</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>D7905209-D36C-475A-A7EC-BE304519C6FA</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>All Folders

Filter all bookmark folders</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>1470</integer>
		</dict>
		<key>D94FFE88-0A1C-49FE-9F45-8DDAAEECD0C8</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Search and open Reading List bookmarks</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>1150</integer>
		</dict>
		<key>DB60E56C-5D2B-4C6C-A704-37F12D7C2ED7</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>DE1C9785-A59F-4478-99BD-09A9CE0B38AD</key>
		<dict>
			<key>note</key>
			<string>Filter tab actions</string>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>E0BAD7E8-5962-41B2-B671-C6A2286CA193</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1320</integer>
		</dict>
		<key>F861E910-A2F3-44E8-82AE-4902F8554614</key>
		<dict>
			<key>note</key>
			<string>Set UID environment variable</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>1890</integer>
		</dict>
		<key>FA5F16AF-40C3-4EC6-9F70-32B47E4A5BBC</key>
		<dict>
			<key>note</key>
			<string>Re-entry point for XYZ
Opens a bookmark or all bookmarks within a folder</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1660</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>ALSF_MAX_CACHE</key>
		<string>5s</string>
		<key>ALSF_MIN_SCORE</key>
		<string>10</string>
	</dict>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
